@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    height: 120px;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70vw;
    margin: auto;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.container .navbar {
    justify-content: space-between;
  }

.container .navbar ul li {
   padding: 10px;
   margin: 0 10px;
   font-family: "Karla";
   font-size: 1rem;
   font-weight: 500;
}

.container .navbar ul li a {
    color: black;
    text-decoration: none;
}

.container .navbar ul li a:hover {
    color: #f4ce14;
}

.container .navbar ul li .activePage {
    color: #495e57;
}

.logo {
    width: 225px;
    height: 55%;
}

.tabNavbar {
    display: flex;
    align-items: center;
    gap: 50%;
}

.tabNavbar img {
    width: 35%;
}

.navbarDropdown {
    width: 98.5vw;
    background-color: white;
    position: absolute;
}

.navbarDropdown nav ul {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5vh;
    background-color: white;
    list-style: none;
    padding-bottom: 8vh;
}

.navbarDropdown nav ul li a {
    text-decoration: none;
    color: black;
}

.navbarDropdown nav ul li a:hover {
    color: #f4ce14;
}

.navbarDropdown nav ul li .activePage {
    color: #495e57;

}

.mobileNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14%;
    height: 100%;
    width: 85vw;
    margin: auto;
}

.mobileIcons {
    width: 7vw;
}

.mobileLogo {
    width: 35vw;
}

@media (max-width: 1024px) {
    .navbarDropdown {
        width: 98.5vw;
    }

    .navbarDropdown nav ul {
        gap: 4.25vh;
    }
}

@media (max-width: 425px) {
    .navbarDropdown nav ul {
        padding-top: 5vh;
    }
}

@media (max-width: 1233px) and (min-width: 1024px) {
    .navbar {
        width: 85vw;
    }
}

@media (min-width: 425px) and (max-width: 600px) {
    .navbar {
        width: 90vw
    }

    .tabNavbar {
        gap: 20%;
    }
    
    .navbarDropdown {
        width: 100vw;
    }
}